<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-Step-Form</title>
    <link rel="stylesheet" href="../style/style3.css" />
</head>

<body>
    <div class="container">
        <div class="box">

            <h3>Pra que vai usar essa conta?</h3>

            <label for="student"><input type="checkbox" name="studant">Estudar</label>
            <br>
            <label for="work"><input type="checkbox" name="work">Trabalho</label>
            <br>
            <label for="team-work"><input type="checkbox" name="team-work">Equipe de trabalho</label>

            <br>

            <button><a href="../views/page2.html">Voltar</a></button>
            <button id="button-page3">Salvar Cadastro!</button>
        </div>
    </div>

    <script src="../js/index3.js"></script>
</body>

</html>