<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-Step-Form</title>
    <link rel="stylesheet" href="../style/style1.css" />
</head>

<body>
    <div class="container">
        <div class="box">
            <label for="name">Nome:</label>
            <input type="text" id="name" />

            <br />

            <label for="email">Email:</label>
            <input type="text" id="email" />

            <br />

            <label for="emailConfirm">Confirmação Email:</label>
            <input type="text" id="emailConfirm" />

            <br />

            <label for="password">Senha:</label>
            <input type="password" id="password" />

            <br />

            <label for="passwordConfirm">Confirmação de Senha:</label>
            <input type="text" id="passwordConfirm" />

            <br />

            <button><a href="../views/page2.html">Próximo</a></button>
        </div>
    </div>

    <script src="../js/index1.js"></script>
</body>

</html>